<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bookbucket.app.iotdemoui" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationForm"
            android:label="@string/title_activity_registration_form" >
        </activity>
        <activity
            android:name=".QAActivity"
            android:label="@string/title_activity_qa" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".PostQuestion"
            android:label="@string/title_activity_post_question" >
        </activity>
        <activity
            android:name=".UserProfile"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name=".UpdateUserProfile"
            android:label="@string/title_activity_update_user_profile" >
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".AskQuestion"
            android:label="@string/title_activity_ask_question" >
        </activity>
    </application>

</manifest>
